<!DOCTYPE html>
<html class='page font-Roboto' lang='en'>
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset='utf-8' />
    <meta name='language' content='english' />
    <script async src="https://arc.io/widget.min.js#pQtDVbY2"></script>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='keywords' content="Dictionary, dick, dictionary, words, kill, me, please" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.4/tailwind.min.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet' />

    <meta name="description" content="A Dictionary but Better" />

    <meta name="twitter:title" content="Better Dictionary" />
    <meta name="twitter:description" content="A Dictionary but Better" />
    <meta name="twitter:image" content="https://media.discordapp.net/attachments/856582344147075082/891042513480200212/profile.png" />

    <meta property='og:title' content='Better Dictionary' />
    <meta property='og:type' content="website" />
    <meta property='og:description' content='A Dictionary but Better' />
    <meta property="og:image" content='https://media.discordapp.net/attachments/856582344147075082/891042513480200212/profile.png' />
    <meta name="theme-color" content="#4C95CA" />
</head>

<header>
    <div class='header'>
        <ul style='display: flex;'>
            <li>
                <input id="search" class='input' placeholder="Type something..." type="text" onkeypress="autocompleter()"> <button id='a' style='display: none' onclick="yes()">Searsch</button></input>
            </li>
            <li>
                <button class="big-blue-button" id='a' onclick="yes()">Search</button>
            </li>
            <li>
                <a href="/" style="right: 1rem; position: absolute; line-height: 1.5rem;" class='big-gry-button'>Back</a>
            </li>
        </ul>
    </div>
</header>

<%- body %>

<footer id='bottom-footer'>
    <div class='center-footer'>
        ©️ <a class='aho' href='https://tayronm.xyz'>Tayron</a> & <a class='aho' href='https://xyna.space/@Luna'>Luna</a>
    </div>
</footer>

</html>