<!DOCTYPE html>
<html class='page font-Roboto' lang='en'>
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset='utf-8' />
    <meta name='language' content='english' />
    <script async src="https://arc.io/widget.min.js#pQtDVbY2"></script>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='keywords' content="Dictionary, dick, dictionary, words, kill, me, please" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.4/tailwind.min.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet' />

</head>

<header>
    <div class='header'>
        <ul style='display: flex;'>
            <li>
                <input id="search" class='input' placeholder="Type something..." type="text" onkeypress="autocompleter()"> <button id='a' style='display: none' onclick="yes()">Searsch</button></input>
            </li>
            <li>
                <button class="big-blue-button" id='a' onclick="yes()">Search</button>
            </li>
            <li>
                <a href="/" style="right: 1rem; position: absolute; line-height: 1.5rem;" class='big-gry-button'>Back</a>
            </li>
        </ul>
    </div>
</header>

<%- body %>

<footer id='bottom-footer'>
    <div class='center-footer'>
        ©️ <a class='aho' href='https://tayronm.xyz'>Tayron</a> & <a class='aho' href='https://xyna.space/@Luna'>Luna</a>
    </div>
</footer>
<script>
    async function autocompleter() {
        fetch("https://qdex.herokuapp.com/api/v1/autocomplete?q=" + document.getElementById("search").value)
            .then(response => response.json())
            .then(data => {
                console.log(data.autocomplete);
                let num = 0;
                data.autocomplete.forEach(r => {
                    num ++;
                    let ac = document.getElementById(`ac${num}`);
                    ac.innerHTML = JSON.stringify(r).replace(/(?:")/g, '');
                });
            });
    };
    var input = document.getElementById("search");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            yes();
        };
    });
    function yes() {
        if(document.getElementById("search").value.size < 2) return console.log("Oof");
        window.location.replace(`/define?q=` + document.getElementById("search").value);
    };
</script>
</html>