<head>
    <title>Better Dictionary</title>
    <meta name="description" content="A Dictionary but Better" />

    <meta name="twitter:title" content="Better Dictionary" />
    <meta name="twitter:description" content="A Dictionary but Better" />
    <meta name="twitter:image" content="https://media.discordapp.net/attachments/856582344147075082/891042513480200212/profile.png" />

    <meta property='og:title' content='Better Dictionary' />
    <meta property='og:type' content="website" />
    <meta property='og:description' content='A Dictionary but Better' />
    <meta property="og:image" content='https://media.discordapp.net/attachments/856582344147075082/891042513480200212/profile.png' />
    <meta name="theme-color" content="#4C95CA" />
</head>

<body>
    <p class="main-text" style="text-align: center; margin-top: 2rem;">Better Dictionary</p>
    <p class="sub-text" style="text-align: center;">
        A simple dictionary created using NodeJS and express web app. <br />
        Note that this is a fun project and will not be continuously improved, even if we do our best. <br />
        Check out our private portfolios for informations about us <a class='saho' href='https://tayronm.xyz'>Tayron</a> & <a class='saho' href='https://xyna.space/@Luna'>Luna</a>.
    </p>
    <br />
    <p class="main-text" style="text-align: center; margin-top: 2rem;">Better Dictionary - Dev Log</p>
    <p class="sub-text" style="text-align: center;">
        1.0.2 Beta » Fixed Bug where nothing is found, Fixed Urban Issues.<br />
        1.0.1 Beta » Fixed /r /n Bug, Fixed Major Bugs. <br />
        1.0.0 Beta » Initial Release.
    </p>
    <footer class='sub-text center-footer' style='margin-top: 1rem;'>
        Sources: <a href='https://owlbot.info' class='saho'>owlbot.info</a>, <a href='https://www.urbandictionary.com/' class='saho'>urbandictionary.com</a>
    </footer>
</body>
